.btn{
  margin: 3px;
  justify-content: center;
  
}
.btn:hover{
  background-color: #61dafb;
  transform: scale(1.2);

}
.start{
  background-color:rgb(34, 74, 138);
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  color: white;
}
.forml{
  border-radius: 8px;
  border:2px solid grey;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin-top: 30px;
}